@import "tailwindcss";

@font-face {
  font-family: "Main-Font";
  src: url("/bahnschrift.ttf") format("truetype");
}

:root {
  /* --font-sans: "Main-Font"; */
}

table td,
table th {
  @apply p-1 border;
}

table th {
  @apply font-bold uppercase;
}

@media print {
  * {
    print-color-adjust: exact;
  }

  @page {
    margin: 0;
  }

  aside {
    display: none;
  }

  main {
    overflow: unset;
  }
}

table th {
  @apply bg-gray-200;
}

table tr:nth-child(odd) {
  @apply bg-violet-50;
}

input {
  accent-color: oklch(70.2% 0.183 293.541);
}

select {
  @apply focus:bg-violet-100 px-0.5 border border-gray-400 rounded;
}

textarea {
  @apply focus:bg-violet-100 px-2 py-1 border border-gray-400 rounded h-40 resize-none;
}

/* Hide the time picker icon in input[type="time"] */
.hide-time-btn::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* For Firefox */
.hide-time-btn {
  -moz-appearance: textfield;
}

/* For Chrome, Edge, and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea,
select {
  @apply font-mono font-bold;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  @apply font-bold;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  @apply font-mono;
}
