@import 'tailwindcss';

:root {
    --font-sans: 'Bahnschrift';
}


table td,
table th {
    @apply p-1 border;
}

@media print {
    @page {
        margin: 0;
    }

    body * {
        visibility: hidden;
    }

    .printable,
    .printable * {
        visibility: visible;
    }

    .printable {
        /* position: absolute; */
        /* top: 0; */
        /* left: 0; */
    }

}

input {
    accent-color: oklch(70.2% 0.183 293.541);
}